@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

.navbar {
  position: fixed;
  z-index: 5;
}

.title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.container {
  height: 100%;
}

#welcome-section {
  width: 100%;
  z-index: 0;
}

#welcome-section {
  height: calc(100vh - 3.25rem);
}

#projects {
  min-height: 100vh;
  background-color: rgba(220, 220, 220, 1);
}

#social {
  height: calc(100vh - 168px - 3.25rem);
}

#social .columns {
  height: 100%;
}

#welcome-section .container .level {
  height: 100%;
}

.footer {
  background: transparent;
}

#social,
#projects,
.footer {
  position: relative;
  z-index: 10;
}

.project-tile .card {
  background-color: rgba(250, 250, 250);
}

.project-tile {
  transition: transform 0.2s 0.1s ease-in-out;
}

.project-tile:hover {
  transition: transform 0.2s 0.1s ease-in-out;
  transform: scale(1.05);
}

#social-nav {
  display: flex;
  justify-self: center;
  align-items: center;
}

#social-nav a {
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  margin: 8px;
}

a.navbar-item:focus {
  background-color: rgb(0, 209, 178);
  color: #fafafa;
}

.icon {
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.blurb {
  display: none;
}

.divider {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #7a7a7a;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 25px 0;
}

.divider.is-vertical {
  flex-direction: column;
  margin: 0 25px;
}

@media (min-width: 769px) {
  .mobile-blurb {
    display: none;
  }

  .blurb {
    display: unset;
  }

  #social-nav {
    flex-direction: column;
  }
}
